.button {
  display: inline-block;
  border: none;
  padding: get-size(300) get-size('base');
  line-height: 1;
  margin: 20px 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;

  &.primary {
    background-color: var(--color-action-primary-bg);
    color: var(--color-action-primary-text);
  }

  &.secondary {
    background-color: var(--color-action-secondary-bg);
    color: var(--color-action-secondary-text); 
  }
}

.button:hover,
.button:focus {
  filter: brightness(1.2);
}

.button:focus:hover {
  outline: none;
}

.button:focus:not(:hover) {
  outline: 1px solid var(--color-action-text);
  outline-offset: -4px;
}

.button:active {
  transform: scale(0.99);
}
