<section class="[ inner-wrapper ]  [ pad-top-900 pad-bottom-max ] ">
<h2 class="pad-bottom-600">Our services</h2>
<p class="text-500 pad-top-400 pad-bottom-900 text-center">We can help you in a number of ways, select a service below for more details</p>
<div class="grid-home-services">
<div class="box-border box1">
  <h3>Web Development</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ullamcorper leo sit amet ex porta, et lacinia mi pretium.</p>
  <a href="/services/web-development/" class="button primary">More on Web Development</a>
</div>

<div class="box-border box2">
  <h3>User Experience</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ullamcorper leo sit amet ex porta, et lacinia mi pretium.</p>
  <a href="/services/user-experience/" class="button primary">More on User Experience</a>
</div>

<div class="box-border box3">
  <h3>Optimisation</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ullamcorper leo sit amet ex porta, et lacinia mi pretium.</p>
  <a href="/services/optimisation/" class="button primary">More on Optimisation</a>
</div>

<div class="box-border box4">
  <h3>Web Accessibility</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ullamcorper leo sit amet ex porta, et lacinia mi pretium.</p>
  <a href="/services/web-accessibility/" class="button primary">More on Web Accessibility</a>
</div>

<div class="box-border box5">
  <h3>Social Media</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ullamcorper leo sit amet ex porta, et lacinia mi pretium.</p>
  <a href="/services/social-media/" class="button primary">More on Social Media</a>
</div>

<div class="box-border box6">
  <h3>Consultancy</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ullamcorper leo sit amet ex porta, et lacinia mi pretium.</p>
  <a href="/services/consultancy/" class="button primary">More on Consultancy</a>
</div>
</div>
</section>
