<section class="bg-rsd-primary [ pad-top-900 pad-bottom-max ] ">
<div class=" [ inner-wrapper ] color-light">
<h2 class="pad-bottom-600">About us</h2>
<p class="text-500 pad-top-400 pad-bottom-900 text-center">Some testimonials shared from clients we have worked with</p>
<div class="">
  <div class="">
    <p class="">Terry O'Brien</p>
  </div>
  <div class="">
    <p class="">Jenny Claxton</p>
  </div>
</div>
</div>
</section>
